@use "variables";

.categories {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  button {
    width: 120px;
  }
}
.search {
  margin: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 50%;
    text-align: center;
  }
}
.categoryDisplay {
  font-size: 25px;
  text-align: center;
  span {
    color: red;
  }
}
.card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  .card-body {
    margin: 0;
    padding: 0;
    h5,
    p {
      margin: 0.5rem;
    }
    .lastDiv {
      background-color: variables.$secondaryColor;
      .price {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 0.3rem;
        h5 {
          font-weight: bold;
        }
      }
      .priceBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
      }
    }
  }
}
